
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #0FB2FC;
$brand-info: #03a9f4;
$brand-success: #4caf50;
$brand-warning: #ff5722;
$brand-danger: #f44336;
$brand-dark: #333D4A;

$theme-colors: (
  "primary":    $brand-primary,
  "success":    $brand-success,
  "info":       $brand-info,
  "warning":    $brand-warning,
  "danger":     $brand-danger,
  "dark":       $brand-dark
);

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.75rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
