/**
 * Version: 1.0
 * Author: JuicyCodes
 * Website: https://juicycodes.com
 */

:focus {
    outline: 0 !important;
}

.juicycodes {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #9E9E9E;
}

.juicycodes .heart {
    color: #ff5722;
}

.no-margins {
    margin: 0 !important
}

.no-radius {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.progress div.progress-bar {
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.no-vis {
    visibility: hidden;
}

.badge {
    background: #29B6F6;
}

table .badge {
    font-size: 75%;
}

.badge-admin {
    background: #009688;
}

.badge-editor {
    background: #4DB6AC;
}

.h_t {
    color: crimson;
    background-color: #eeeeee;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
}

.cp {
    cursor: pointer;
}

.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

.text-small {
    font-size: small;
}

.d-chart {
    margin: 0 auto;
    width: 140px;
    height: 140px;
}

.m-dis {
    pointer-events: none;
    position: relative;
}

.m-dis:before {
    content: "NO DATA TO GENERATE CHART";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: #999;
    padding: 60px 0;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

.top-table td,
.top-table th {
    padding-left: 8px !important;
    border-color: transparent !important;
}

.progress-info {
    color: #37474F;
    margin-bottom: 5px;
    font-size: 14px;
}

.progress-info span {
    color: #4CAF50;
    font-weight: 600;
    font-size: 15px;
}

.wave {
    position: relative;
}

.wave .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    background: #00AAFF;
    animation: wave 1.3s linear infinite;
}

span.badge .wave .dot {
    width: 6px;
    height: 6px;
    background-color: #fff;
    animation: wave_small 1.3s linear infinite;
}

span.badge .wave .dot:nth-child(2),
.wave .dot:nth-child(2) {
    animation-delay: -1.1s;
}

span.badge .wave .dot:nth-child(3),
.wave .dot:nth-child(3) {
    animation-delay: -0.9s;
}

.badge-success {
    background-color: #4CAF50;
}

.badge-danger {
    background-color: #F44336;
}

.protected {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    background: #a6aab0;
    cursor: pointer;
}

div.popover {
    color: #ddd;
    background-color: #333d4a;
    border-radius: 5px;
    box-shadow: none;
}

div.popover.top>.arrow:after {
    border-top-color: #333d4a;
}

[data-toggle="tooltip"] {
    cursor: pointer;
}

.big-number {
    background: #29B6F6;
    margin: 20px 0;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 45px;
    display: inline-block;
    padding: 0 15px;
    border-radius: 5px;
}

.number-header {
    text-transform: uppercase;
    font-weight: 600;
    color: #607D8B;
    font-size: 20px;
    margin: 10px 0;
}

@keyframes wave {
    0%,
    60%,
    100% {
        transform: initial;
    }
    30% {
        transform: translateY(-15px);
    }
}

@keyframes wave_small {
    0%,
    60%,
    100% {
        transform: initial;
    }
    30% {
        transform: translateY(-5px);
    }
}

.upload-success {
    text-align: center;
    margin-top: 10px;
    position: relative;
    color: #4caf51;
    font-weight: 700;
    font-size: 16px;
}

.it-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 5px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

.it-icon.it-success {
    border-color: #4CAF50;
}

.it-icon.it-success::before,
.it-icon.it-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.it-icon.it-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.it-icon.it-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
}

.it-icon.it-success .it-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(76, 175, 80, .5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.it-icon.it-success .it-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.it-icon.it-success.animate::after {
    -webkit-animation: IT_rotatePlaceholder 4.25s ease-in;
    animation: IT_rotatePlaceholder 4.25s ease-in;
}

.it-icon.it-success {
    border-color: transparent\9;
}

.it-icon.it-success .it-line.it-tip {
    -ms-transform: rotate(45deg) \9;
}

.it-icon.it-success .it-line.it-long {
    -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
    -webkit-animation: IT_animateSuccessTip 0.75s;
    animation: IT_animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: IT_animateSuccessLong 0.75s;
    animation: IT_animateSuccessLong 0.75s;
}

.it-icon.it-success .it-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.it-icon.it-success .it-line.it-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.it-icon.it-success .it-line.it-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fancy-checkbox span {
    font-weight: 600 !important;
}

@-webkit-keyframes IT_rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

@keyframes IT_rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

@-webkit-keyframes IT_animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@-webkit-keyframes IT_animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes IT_animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes IT_animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}


/* MARGINS & PADDINGS */

.p-xxs {
    padding: 5px;
}

.p-xs {
    padding: 10px !important;
}

.p-sm {
    padding: 15px;
}

.p-m {
    padding: 20px;
}

.p-md {
    padding: 25px;
}

.p-lg {
    padding: 30px;
}

.p-xl {
    padding: 40px;
}

.p-w-xs {
    padding: 0 10px;
}

.p-w-sm {
    padding: 0 15px;
}

.p-w-m {
    padding: 0 20px;
}

.p-w-md {
    padding: 0 25px;
}

.p-w-lg {
    padding: 0 30px;
}

.p-w-xl {
    padding: 0 40px;
}

.m-xxs {
    margin: 2px 4px;
}

.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m {
    margin: 15px;
}

.m-md {
    margin: 20px;
}

.m-lg {
    margin: 30px;
}

.m-xl {
    margin: 50px;
}

.m-n {
    margin: 0 !important;
}

.m-l-none {
    margin-left: 0;
}

.m-l-xs {
    margin-left: 5px;
}

.m-l-sm {
    margin-left: 10px;
}

.m-l {
    margin-left: 15px;
}

.m-l-md {
    margin-left: 20px;
}

.m-l-lg {
    margin-left: 30px;
}

.m-l-xl {
    margin-left: 40px;
}

.m-l-n-xxs {
    margin-left: -1px;
}

.m-l-n-xs {
    margin-left: -5px;
}

.m-l-n-sm {
    margin-left: -10px;
}

.m-l-n {
    margin-left: -15px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-l-n-lg {
    margin-left: -30px;
}

.m-l-n-xl {
    margin-left: -40px;
}

.m-t-none {
    margin-top: 0;
}

.m-t-xxs {
    margin-top: 1px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.m-t-xl {
    margin-top: 40px;
}

.m-t-n-xxs {
    margin-top: -1px;
}

.m-t-n-xs {
    margin-top: -5px;
}

.m-t-n-sm {
    margin-top: -10px;
}

.m-t-n {
    margin-top: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-t-n-lg {
    margin-top: -30px;
}

.m-t-n-xl {
    margin-top: -40px;
}

.m-r-none {
    margin-right: 0;
}

.m-r-xxs {
    margin-right: 1px;
}

.m-r-xs {
    margin-right: 5px;
}

.m-r-sm {
    margin-right: 10px;
}

.m-r {
    margin-right: 15px;
}

.m-r-md {
    margin-right: 20px;
}

.m-r-lg {
    margin-right: 30px;
}

.m-r-xl {
    margin-right: 40px;
}

.m-r-n-xxs {
    margin-right: -1px;
}

.m-r-n-xs {
    margin-right: -5px;
}

.m-r-n-sm {
    margin-right: -10px;
}

.m-r-n {
    margin-right: -15px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-r-n-lg {
    margin-right: -30px;
}

.m-r-n-xl {
    margin-right: -40px;
}

.m-b-none {
    margin-bottom: 0;
}

.m-b-xxs {
    margin-bottom: 1px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b {
    margin-bottom: 15px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-b-lg {
    margin-bottom: 30px;
}

.m-b-xl {
    margin-bottom: 40px;
}

.m-b-n-xxs {
    margin-bottom: -1px;
}

.m-b-n-xs {
    margin-bottom: -5px;
}

.m-b-n-sm {
    margin-bottom: -10px;
}

.m-b-n {
    margin-bottom: -15px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-b-n-lg {
    margin-bottom: -30px;
}

.m-b-n-xl {
    margin-bottom: -40px;
}
