/**
 * Version: 1.0
 * Author: JuicyCodes
 * Website: https://juicycodes.com
 */
.banner,.banner .close{position:absolute;right:0}body{margin:0}#video_player{position:absolute}.jw-error .jw-preview,.jwplayer .jw-preview{background-size:cover!important}.jw-dock-image{background-size:45%}.banner{top:50px;background:#607D8B;margin-left:auto;margin-right:auto;left:0;width:300px;height:250px;text-align:center;padding:5px}.banner .close{background:#37474F;color:#fff;padding:2px 6px;top:0;font-size:14px;font-weight:700;cursor:pointer}
